PORT=3000
CALLBACK_API_KEY=
CALLBACK_STATE=

# OAuth2 Configuration for Microsoft Entra
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TENANT_ID=
OAUTH_REDIRECT_URI=https://ivsacademy.edu.vn/auth/callback
